.brand-logo {
    background-image: url(/public/images/iot.png);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: 0.5em 0.25em;
    width: 2em;
    height: 2em;
}

ul#ai_responses {
    height: 300px;
    border: 1px solid gray;
    width: 94%;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
}

ul#ai_responses li {
    margin: 5px 0px;
}

li.right {
    display: block;
    width: 100%;
    text-align: right;
}

.command-field {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0 !important;
}

#submit {
    position: fixed;
    bottom: 48px;
    right: 1em;
    width: 3.2em;
    height: 3em;
    padding: 0em .85em;
    border-radius: 50%;
}
